@import "tailwindcss";
@config "../tailwind.config.ts";

*{
    box-sizing: border-box;
}

body{    
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #f5f0f0;

}

.container{
    width: 90%;
    margin: auto;
}

header .top-strip{
}

.MuiBadge-badge{
    background-color: #214f37 !important;
    color: #1f1f1f;
}

.link:hover{
    color: #ddcf88;
}

.list-navigation{
    color: #214f37;
}

nav button {    
    color: #214f37 !important; 
    font-weight: 600 !important;
    position: relative !important;
    overflow: hidden !important;
}

nav button:hover{
    color: #ddcf88 !important;
}

nav button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #ddcf88;
    transition: width 0.3s ease;
}

nav button:hover::after {
    width: 100%;
}